<div class="container">
<p id="notice"><%= notice %></p>

<h1> Matches Found:</h1>
<br>
<br>
  <% @users.each do |user| %>
    <div class="row" style="text-align:center">
      <%= image_tag user.image.url(:small) %>
      <h3><%= user.first_name %> <%= user.last_name %></h3>
      <p><%= user.about %></p>
      <p><%= link_to "Find out more", user_path(user), class: "btn btn-default" %></p>
      <hr>
    </div>
  <% end %>