<p id="notice"><%= notice %></p>

<h1> Matches Found:</h1>

<div class="col-sm-8 pull-right">

  <% @users.each do |user| %>
    <div class="col-sm-2">
      <a href="#" class="thumbnail">
        <%= image_tag user.image.url(:medium) %>
      </a>
    </div>
    <div class="col-sm-10">
      <h3><%= user.first_name %>, <%= user.last_name %></h3>
      <p>Age: <%= user.birthday %>
      <p>Interested in <strong><td><%= user.interest %></td></strong> with a <strong><%= user.orientation %></strong></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  <% end %>

</div>

<%= link_to 'New User', new_user_path %>
