<div class="container">
<p id="notice"><%= notice %></p>

<h1> Matches Found:</h1>

  <!-- <table class="table table-condensed">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Gender</th>
        <th>About</th>
        <th>Find out more</th>
      </tr>
    </thead>
    <tbody> -->
 
  <% @users.each do |user| %>
    <div class="row col-sm-12" style="text-align:center">
      <% if current_user.id != user.id %>
        <h3><%= user.gender %></h3>
        <h3><%= image_tag user.image.url(:medium) %></h3>
        <h3><%= user.first_name %> <%= user.last_name %></h3>
        <h5><%= user.about %></h5>
        <h3><%= link_to "Find out more", user_path(user), class: "btn btn-default" %></h3>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
        <hr>
      <% end %>
      </tbody>
    </table>
    </div>
  <% end %>