<div class="container">
<p id="notice"><%= notice %></p>

<h1> Matches Found:</h1>

  <div id="combination-filters-demo" class="demo">

  <div class="ui-group">
    <h3>Gender</h3>
    <div class="button-group js-radio-button-group" data-filter-group="color">
      <button class="button is-checked" data-filter="">any</button>
      
        <button class="button" data-filter=".red">red</button>
      
        <button class="button" data-filter=".blue">blue</button>
      
        <button class="button" data-filter=".yellow">yellow</button>
      
    </div>
  </div>

  <div class="ui-group">
    <h3>Occupation</h3>
    <div class="button-group js-radio-button-group" data-filter-group="size">
      <button class="button is-checked" data-filter="">any</button>
      
        <button class="button" data-filter=".small">small</button>
      
        <button class="button" data-filter=".wide">wide</button>
      
        <button class="button" data-filter=".big">big</button>
      
        <button class="button" data-filter=".tall">tall</button>
      
    </div>
  </div>

  <div class="ui-group">
    <h3>Area of Interest</h3>
    <div class="button-group js-radio-button-group" data-filter-group="shape">
      <button class="button is-checked" data-filter="">any</button>
      
        <button class="button" data-filter=".round">round</button>
      
        <button class="button" data-filter=".square">square</button>
      
    </div>
  </div>
 
  <% @users.each do |user| %>

  <div class="isotope">
    
      
        
          
            <div class="color-shape small round red"></div>
          
            <div class="color-shape small round blue"></div>
          
            <div class="color-shape small round yellow"></div>
          
        
          
            <div class="color-shape small square red"></div>
          
            <div class="color-shape small square blue"></div>
          
            <div class="color-shape small square yellow"></div>
          
        
      
        
          
            <div class="color-shape wide round red"></div>
          
            <div class="color-shape wide round blue"></div>
          
            <div class="color-shape wide round yellow"></div>
          
        
          
            <div class="color-shape wide square red"></div>
          
            <div class="color-shape wide square blue"></div>
          
            <div class="color-shape wide square yellow"></div>
          
        
      
        
          
            <div class="color-shape big round red"></div>
          
            <div class="color-shape big round blue"></div>
          
            <div class="color-shape big round yellow"></div>
          
        
          
            <div class="color-shape big square red"></div>
          
            <div class="color-shape big square blue"></div>
          
            <div class="color-shape big square yellow"></div>
          
        
      
        
          
            <div class="color-shape tall round red"></div>
          
            <div class="color-shape tall round blue"></div>
          
            <div class="color-shape tall round yellow"></div>
          
        
          
            <div class="color-shape tall square red"></div>
          
            <div class="color-shape tall square blue"></div>
          
            <div class="color-shape tall square yellow"></div>
          
        
      
    
  </div>
    <div class="row col-sm-12" style="text-align:center">
      <% if current_user.id != user.id %>
        <h3><%= user.gender %></h3>
        <h3><%= image_tag user.image.url(:medium) %></h3>
        <h3><%= user.first_name %> <%= user.last_name %></h3>
        <h5><%= user.about %></h5>
        <h3><%= link_to "Find out more", user_path(user), class: "btn btn-default" %></h3>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
        <hr>
      <% end %>
      </tbody>
    </table>
    </div>
  <% end %>