<div class="container text-center">
  <div>
    <% if current_user.id != @user.id %>
      <button id="blueBG" class="btn btn-fab btn-raised btn-primary" ONCLICK="window.location.href='<%= new_message_path %>'"><i class="mdi-image-edit"></i></button> 
    <% end %>   
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <br>
      <%= image_tag @user.image.url(:medium) %>
      <h3><%= @user.about %></h3>
      <% if current_user.id == @user.id %>
        <h5><%= link_to 'Edit', edit_user_path(id: current_user.id), class: "btn btn-default", :id =>"blueBG", :style => "color: white"%></h5>
      <% end %>
  </div>
  <br>
    <table class="table" align="center" style="width:500px">
      <tbody>
        <tr>
          <td><h4 align="left"><strong>Gender:</strong></td></h4>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <td><h4 align="left"><strong>Birthday:</strong></td></h4>
          <td><%= @user.birthday %><td>
        </tr>
         <tr>
          <td><h4 align="left" ><strong>Interested In:</strong></td></h4>
          <td><%= @user.interest %><td>
        </tr>
        <tr>
          <td><h4 align="left"><strong>Occupation:</strong></td></h4>
          <td><%= @user.occupation %><td>
        </tr>
        <tr>
          <td><h4 align="left"><strong>Area of Interest:</strong></td></h4>
          <td><%= @user.field %><td>
        </tr>
        <tr>
          <td><h4 align="left"><strong>Physical Attributes:</strong></td></h4>
          <td><%= @user.physical %><td>
        </tr>
        <tr>
          <td><h4 align="left"><strong>What I do in my free time:</strong></td></h4>
          <td><%= @user.free_time %><td>
        </tr>
      </tbody>
    </table>


  <%= link_to 'Back', users_path , class: "btn btn-default", :id =>"blueBG", :style => "color: white"%>

    
</div>
      <br>
          </div>              
        </div>              
      </div>            
    </div>
</div>
