<p id="notice"><%= notice %></p>
<div class="container text-center">
  <div>        
      <h1><%= @user.first_name %> <%= @user.last_name %></h1><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
      <br>
          <%= image_tag @user.image.url(:medium) %>
      <h3><%= @user.about %></h3>
  </div>
  <br>
    <table class="table" align="center" style="width:400px">
      <tr>
        <td><h4 align="left"><span class="label label-primary">Birthday:</span></td></h4>
        <td><%= @user.birthday %><td>
      </tr>
       <tr>
        <td><h4 align="left"><span class="label label-primary">Interested In:</span></td></h4>
        <td><%= @user.interest %><td>
      </tr>
      <tr>
        <td><h4 align="left"><span class="label label-primary">Occupation:</span></td></h4>
        <td><%= @user.occupation %><td>
      </tr>
      <tr>
        <td><h4 align="left"><span class="label label-primary">Area of Interest:</span></td></h4>
        <td><%= @user.field %><td>
      </tr>
      <tr>
        <td><h4 align="left"><span class="label label-primary">Physical Attributes:</span></td></h4>
        <td><%= @user.physical %><td>
      </tr>
      <tr>
        <td><h4 align="left"><span class="label label-primary">What I do in my free time:</span></td></h4>
        <td><%= @user.free_time %><td>
      </tr>

    </table>


  <%= link_to 'Back', users_path , class: "btn btn-default"%>

    
</div>
      <br>
          </div>              
        </div>              
      </div>            
    </div>
</div>
