<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=70eabcd8097cd299e1ba8efe436992b7">
    <link rel="icon" href="../../favicon.ico">

    <title>FirstSight</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>

    <%= csrf_meta_tags %>

    <%= yield :js_html %>

    <script>
        <%= yield :js %>
    </script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <div class="page-header container">
	    <%= yield %>
    </div>
    <%#= javascript_include_tag 'geo', 'data-turbolinks-track' => true %>

  </body>
</html>