<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=70eabcd8097cd299e1ba8efe436992b7">
    <link rel="icon" href="../../favicon.ico">
    
    <style>
    #masonry-container {
    background: #FFF;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    clear: both;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    }
  </style>
  <script>
    $(function(){
      $('#masonry-container').masonry({
        itemSelector: '.box',
        columnWidth: 100,
        gutterWidth: 40,
        itemSelector: '.box',
        columnWidth: 100,
        isAnimated: !Modernizr.csstransitions,
        isRTL: true
      });

    });
  </script>
    <title>FirstSight</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>

    <%= csrf_meta_tags %>

    <%= yield :js_html %>

    <script>
        <%= yield :js %>
    </script>

  </head>

  <body style="background:white">
    <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <div class="container alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <div class="container transitions-enabled" id="masonry-rails" style="background:white">
        <br>
  	    <%= yield %>
      </div>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>